.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    width: 50%;
    grid-gap: 80px;
}

h2{
    text-align: center;
}

.center{
    display: flex;
    width: 100%;
    justify-content: center;
}

h1{
    text-align: center;
}

.input{
    text-align: center;
}
input{
    border-radius: 5px;
}

.add-btn{
    cursor: pointer;
    display: inline;
    background-color: #7b2222;
    color: #fff;    
    margin-left: 5px;
    border-radius: 5px;
    padding: 3px 5px;
}